
@font-face {
  font-family:'Lucida';
  font-style: normal;
  font-weight: 100;
  src: url(../fonts/CODE.otf) format('otf');
}

#main {
     display: table;
   width: 100%;

}

#main input { 
	  margin-left: 20px;
   margin-bottom: 30px;
    padding-right: 50px;}

 #frm label{
  
    font-size: 30px;
    width:150px;
}

 #frm {
   
   text-align: center;
   vertical-align: middle;
}
#check tr{
	display: inline-block;
}

#check {
	margin: auto;
}

